<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (title==='Home' ){ %>
      <a href="/uploadreport" class="btn btn-outline-info">Upload Report</a>
      <% } %>
  </div>
</nav>
<div class="alert alert-danger" role="alert" id="offline_div" style="display: none">You are offline</div>